<html>
	<head>
		<title>Tim Time</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="assets/css/main.css" type="text/css" />
		<link rel="stylesheet" href="assets/css/popeye.min.css" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
		<script src="assets/js/popeye.min.js"></script>
		<script src="assets/js/main.js"></script>
	</head>
	<body class="tim" ng-app="blink">
		<nav ng-controller="generalCtrl as general">
			<a href="/#/home" 
				ng-class="{selected: general.location === 'home'}" 
				ng-click="general.getLocationId('home')">annoy</a>
			<a href="/#/morse" 
				ng-class="{selected: general.location === 'morse'}" 
				ng-click="general.getLocationId('morse')">morse</a>
		</nav>
		<div ng-view></div>
	</body>
</html>
