<section ng-controller="patternCtrl as pattern" class="pattern">
	<section class="banner" ng-class="{error: pattern.notification.error}" ng-hide="pattern.notification.message === ''">
		{{pattern.notification.message}}
	</section>
	<h1>Pattern Builder</h1>
	<form>
		<label>Time (sec):</label><input type="text" ng-model="pattern.time">
		<label>Repeat:</label><input type="text" ng-model="pattern.repeat">
		<label>Color #1:</label><color-picker ng-model="color1" color-picker-format="'hex'"></color-picker>
		<label>Color #2:</label><color-picker ng-model="color2" color-picker-format="'hex'"></color-picker>
		<label>Color #3:</label><color-picker ng-model="color3" color-picker-format="'hex'"></color-picker>
		<label>Color #4:</label><color-picker ng-model="color4" color-picker-format="'hex'"></color-picker>
		<label>Color #5:</label><color-picker ng-model="color5" color-picker-format="'hex'"></color-picker>
		<label>Color #6:</label><color-picker ng-model="color6" color-picker-format="'hex'"></color-picker>
		<a class="button" ng-click="pattern.createPattern()">Submit</a>
	</form>
</section>